.ArchivesList {
    li {
        @include list-item-dash();
    }

    time {
        color: $color-gray-700;
        font-kerning: auto;
        white-space: nowrap;
        font-size: 0.8125rem;
        margin-left: 0.25rem;
    }
}
