.MainBody {
    font-family: $font-family-mincho;
    font-kerning: none;
    margin-bottom: 4.5rem;
    margin-top: 3.75rem;

    :not(:lang(ja)) {
        font-kerning: auto;
    }

    h2:not(.Subheader),
    h3,
    h4,
    h5,
    h6,
    dt,
    b,
    strong,
    i,
    em,
    dfn {
        font-family: $font-family-gothic;
        font-weight: 500;
    }

    h2:not(.Subheader),
    h3,
    h4,
    h5,
    h6 {
        font-feature-settings: "palt";
        font-kerning: auto;
    }

    figure,
    table {
        font-family: $font-family-system;
    }
}
