// Font family
$font-family-system: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Segoe UI", "Helvetica Neue", "sans-serif", sans-serif, "Segoe UI Emoji";
$font-family-mincho: "source-han-serif-japanese-1", "source-han-serif-japanese-2", serif;
$font-family-gothic: "source-han-sans-japanese-1", "source-han-sans-japanese-2", sans-serif;
$font-family-mono:   "Menlo", "Consolas", monospace;

// Font size
$font-size-xxxlarge: $ratio-octave          + rem;
$font-size-xxlarge:  $ratio-minor-7th       + rem;
$font-size-xlarge:   $ratio-fifth           + rem;
$font-size-large:    $ratio-major-3rd       + rem;
$font-size-medium:   $ratio-unison          + rem;
$font-size-small:    $ratio-minor-7th * 0.5 + rem;
$font-size-xsmall:   $ratio-fifth     * 0.5 + rem;

// Letter spacing
$letter-spacing-medium: $ratio-major-3rd * 0.05 + em;
$letter-spacing-small:  $ratio-fifth     * 0.05 + em;
$letter-spacing-xsmall: $ratio-minor-7th * 0.05 + em;

$indent-medium: 2rem;
$indent-small:  1rem;
