.MainBody {
    @include vertical-rhythm(margin-bottom, 3);
    @include vertical-rhythm(margin-top, 3);
    font-family: $font-family-mincho;
    font-kerning: none;

    h2,
    blockquote,
    dt,
    figure,
    em,
    strong,
    dfn,
    i,
    b,
    table {
        font-family: $font-family-system;
    }

    h3,
    h4,
    h5,
    h6,
    b,
    strong {
        font-family: $font-family-gothic;
    }
}
